import 'package:flutter/material.dart';


class ${upperName}Page extends StatefulWidget {
  static const String routeName = '/${privateName}';

  @override
  _${upperName}PageState createState() => _${upperName}PageState();
}

class _${upperName}PageState extends State<${upperName}Page> {
  

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: Text('${upperName}'),
      ),
      body: Column(
        children : [
          
        ]
      ),
    );
  }
}
